@import "tailwindcss";
@plugin "daisyui";

@layer base {
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  h1 {
    @apply mb-4 text-4xl font-bold tracking-tight text-gray-900;
  }
  ul {
    @apply list-disc pl-6;
  }
  ol {
    @apply list-decimal pl-6;
  }
  p {
    @apply mb-2 mt-2;
  }
  a {
    @apply text-blue-600 hover:text-pink-400 visited:text-blue-900;
  }
  
  input, textarea, select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    font-variant-ligatures: none;
  }
}
